.work{
    position: fixed;
    height: 100%;
    width: 60vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1;
    right: 0;
    &::-webkit-scrollbar{
        display: none;
    }
   
}
.random{
    display: flex;
    justify-content:space-between;
    > h1{
        font-size: 40px;
    }
}

.workContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.imgContainer{
    display: flex;
    flex-direction: column;
    margin:30px
}
.imgContainer:hover{
    opacity: 30%;
}